

.sub-section-about {
  padding: 1em;
}


.section-about {
  display: flex;
}

.section-left-about {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-right-about {
  width: 70%;
  padding: 1em;
}

.image-Character {
  width: 300px;
  height: 250px;
}

.container-about {
  position: relative;
}

.container-about:hover .about-download {
  box-shadow: 0px 0px 5px rgb(78, 78, 78);
  background-color: rgb(75, 75, 75);
  color: white;
  font-size: 16px;
  padding: 10px;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  border-radius: 2px;
}


.img-CP {
  text-decoration: none;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
  margin: auto;
display: flex;
}

.container-about:hover .img-CP {
  opacity:0.5;
}

.about-download {
  background-color: #212529;
  font-size: 80%;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgb(145, 145, 145);
  transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


@media (min-width:300px) and (max-width:700px) {
  .section-about {
    display: inline;
  }
  .section-left-about {
    width: 100%;
  }
  .section-right-about {
    width: 100%;
  }
  .image-Character {
    width: 250px;
    height: 200px;
  }
  #card-best-product-margin {
    padding: 1em;
  }
  .about-download {
    width: 100%;
  }
}

@media (min-width:701px) and (max-width:1000px) {
  .section-about {
    display: inline;
  }
  .section-left-about {
    width: 100%;
  }
  .section-right-about {
    width: 100%;
  }
  .image-Character {
    width: 250px;
    height: 200px;
  }
  .about-download {
    width: 70%;
  }
}

.title-about-home {
  font-size: 150%;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}