

.sub-section-about {
  padding: 1em;
}

.section-about {
  display: flex;
  background-color: #ffcbcb;
  border-radius: 3px;
  box-shadow: 0px 0px 4px #b13737;
}

.section-left-about {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-right-about {
  width: 60%;
  padding: 1em;
}

.image-Character {
  width: 400px;
  height: 250px;
}

.img-CP {
  box-shadow: 0px 0px 5px rgb(78, 78, 78);
}

#a-about {
  text-decoration: none;
}

.about-download {
  background-color: #212529;
  font-size: 80%;
  width: 15%;
  padding: 5px;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgb(145, 145, 145);
}

@media (min-width:300px) and (max-width:700px) {
  .section-about {
    display: inline;
  }
  .section-left-about {
    width: 100%;
  }
  .section-right-about {
    width: 100%;
  }
  .image-Character {
    width: 250px;
    height: 200px;
  }
  #card-best-product-margin {
    padding: 1em;
  }
  .about-download {
    width: 100%;
  }
}

@media (min-width:701px) and (max-width:1000px) {
  .section-about {
    display: inline;
  }
  .section-left-about {
    width: 100%;
  }
  .section-right-about {
    width: 100%;
  }
  .image-Character {
    width: 250px;
    height: 200px;
  }
  .about-download {
    width: 70%;
  }
}

.title-about-home {
  font-size: 150%;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}