.body-transaction {
    background: #e21515;
    background: -webkit-linear-gradient(to right, #ffcbcb, #e21515);
    background: linear-gradient(to right, #ffcbcb, #e21515);
}

.section-transaction-page {
    padding: 4em;
}

.section-card-transaction {
    background-color: #ffffff;
    margin: auto;
    padding: 2em;
}

.transaction-title {
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.section-transaction{
    display: flex;
}

.section-transaction-left{
    padding: 1em;
    width: 50%;
}

.section-transaction-left-after{
    width: 100%;
}

.section-transaction-right{
    width: 50%;
    padding: 1em;
}

.form-transaction div {
    margin-bottom: 5%;
    font-size: 90%;
}

.form-transaction label {
    width: 100%;
}

.results-form label {
    width: 20%;
}

.results-form div{
    font-size: 90%;
}

.section-expedition label{
    width: 100%;
    font-size: 90%;
}

.section-transaction-right div{
    margin-bottom: 5%;
}

.img-trf{
    width: 200px;
    height: 200px;
}


@media (min-width: 300px) and (max-width: 700px) {
    .section-card-transaction {
        width: 100%;
    }
    .transaction-title {
        font-size: 100%;
    }
    .form-transaction div {
        font-size: 70%;
    }
}