.card-product-home {
    /* background-color: #ffffff; */
    padding: 2em;
}

.card-product-home-margin {
    /* background-color: #ffffff; */
    padding: 0px 10px;
    border-radius: 3px;
}

.sub-section-product-home-1 {
    padding: 1em;
    background-color: #ffcbcb;
    box-shadow: 0px 0px 4px #b13737;
    border-radius: 3px;
}

.title-product-home {
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.img-product-home {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}

.img-category-home{
    margin: auto;
}


#title-best-product {
    color: #212529;
    font-size: 80%;
    text-align: center;
    font-weight: bold;
}

#btn-best-product {
    font-size: 60%;
    background-color: #212529;
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    padding: 5%;
    border-radius: 3px;
    text-transform: uppercase;
}

.img-best-product-home {
    display: flex;
}

#card-best-product {
    margin: auto;
    width: 50%;
}

@media (min-width:300px) and (max-width:700px) {
    .img-product-home {
        flex-direction: column;
        width: 100%;
    }
    .card-product-home-margin{
        margin: 2% auto;
    }
    .img-best-product-home {
        flex-direction: column;
        padding: 0;
    }
    #btn-best-product {
        font-size: 50%;
    }
    #card-best-product {
        margin: auto;
        width: 80%;
    }
}

@media (min-width:701px) and (max-width:1000px) {
    .img-best-product-home {
        flex-direction: column;
        padding: 1em;
    }
    .card-product-home-margin{
        margin: 2% auto;
    }
    #btn-best-product {
        font-size: 60%;
    }
}