.body-product-page {
    background: #e21515;
    background: -webkit-linear-gradient(to right, #ffcbcb, #e21515);
    background: linear-gradient(to right, #ffcbcb, #e21515);
}

.card-product-page {
    /* background-color: #ffffff; */
    /* padding: 2em; */
    /* box-shadow: 0px 0px 6px rgb(119, 118, 118); */
    min-height: 100vh;
    margin-bottom: 2%;
}

#card-Product {
    margin: 5% auto;
}

#card-item {
    justify-content: center;
}

#title-card-product {
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}

#btn-card-product {
    display: flex;
    justify-content: center;
    margin: auto;
}

.title-product {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    padding-top: 1em;
    text-shadow: 2px 2px 5px #ffcbcb;
}

.section-product-1 {
    width: 30%;
    margin: auto;
    padding-top: 4%;
}

.sub-section-product-1 {
    margin-bottom: 10%;
}

.icon-favorite {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card-img-product{
    position: relative;
}

.card-img-product:hover .icon-favorite {
    background-color: rgb(75, 75, 75);
    color: white;
    font-size: 16px;
    padding: 10px;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    border-radius: 2px;
}

.img-product {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.card-img-product:hover .img-product {
    opacity:0.5;
}



@media (min-width:300px) and (max-width:700px) {
    .section-product-1 {
        width: 70%;
        margin: auto;
    }
    .title-product {
        font-size: 150%;
    }
    #title-card-product {
        font-size: 70%;
    }
    #btn-card-product {
        font-size: 10%;
    }
    .card-product-page {
        min-height: 0;
    }
}

@media (min-width:701px) and (max-width:1000px) {
    #title-card-product {
        font-size: 70%;
    }
    #btn-card-product {
        font-size: 20%;
    }
    .card-product-page {
        min-height: 60vh;
    }
}