.body-change-password {
    background: #e21515;
    background: -webkit-linear-gradient(to right, #ffcbcb, #e21515);
    background: linear-gradient(to right, #ffcbcb, #e21515);
    height: 100vh;
}

.section-change-password {
    padding: 7em;
}

.card-change-password {
    background-color: #ffffff;
    width: 30%;
    margin: 5% auto;
    padding: 2em;
    border-radius: 3px;
}

.form-change-password div {
    margin-bottom: 7%;
}

.form-change-password label{
    font-size: 90%;
    font-weight: bold;
}

.form-change-password input{
    font-size: 80%;
}

.title-change-password {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

.btn-action-change-password{
    background-color: #ffcbcb;
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    margin: auto;
    font-weight: bold;
}

.btn-back-home{
    position: fixed;
    /* left: 520px; */
    left: 40px;
    top: 30px;
    color: black;
    font-size: 200%;
}

.btn-back-home:hover{
    opacity: 0.5;
}

.test-password-good{
    color: green;
    font-size: 70%;
}

.test-password-bad{
    color: red;
    font-size: 70%;
}

@media (min-width: 300px) and (max-width: 700px){
    .title-change-password{
        font-size: 100%;
    }
    .card-change-password{
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 1000px){
    .title-change-password{
        font-size: 100%;
    }
    .card-change-password{
        width: 70%;
    }
}