.image-Character{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px){
  .image-Character{
    height: 20%;
  }
}
/* 
.jumbotron {
  background-image: url('../Images/sausage.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 -100px;
} */