.imgLogo-Navbar{
    height: 50;
    width: 50px;
    border-radius: 50px;
}

#font-Navbar{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: large;
    margin-left: 30px;
}

#font-Navbar:hover{
    text-shadow: 0 0 3px #404040, 0 0 5px white;
}

#fontButton-Navbar{
    color: black;
    background: whitesmoke;
    border-radius: 50px;
    width: 100px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    margin-top: 3px;
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: large;
}

#fontButton-Navbar:hover{
    text-shadow: 0 0 3px #404040, 0 0 5px white;
}

@media only screen and (max-width: 600px){
    #font-Navbar{
        margin-left: 0;
        
    }
}

@media only screen and (max-width: 600px){
    #fontButton-Navbar{
        margin-left: 0;
        margin-top: 0;
    }
}

.cart-Navbar{
    background-color: rgb(29, 29, 29);
    color: gold;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    font-size: 16px;
    text-align: center;
}

.dropdownCustom{
    /* background-color: transparent !important; */
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
}

.show-on-hover:hover > .dropdown-menu {
    display: block;    
}