
#card-Product {
    margin-bottom: 5%;
}

.card-Category{
    cursor: pointer;
    background-color: rgb(192, 40, 40);
    color:white;
    font-size: 15px;
    padding: 15px;
    font-family: 'Mukta', sans-serif;
}

.text-Product{
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    margin-bottom: 5%;
}

@media only screen and (max-width: 600px){
    .card-Category{
        cursor: pointer;
        background-color: rgb(192, 40, 40);
        color:white;
        font-size: 7px;
        padding: 10px;
        font-family: 'Mukta', sans-serif;
    }
}
