#body-footer{
    background: #e21515;
    background: -webkit-linear-gradient(to right, #ffcbcb, #e21515);
    background: linear-gradient(to right, #ffcbcb, #e21515);
    box-shadow: 0px 2px 10px rgb(78, 78, 78);
}