.body-reset-password{
    background: #e21515;
    background: -webkit-linear-gradient(to right, #ffcbcb, #e21515);
    background: linear-gradient(to right, #ffcbcb, #e21515);
    padding:6em;
    height: 100vh;
}

.card-reset-password{
    background-color: #ffffff;  
    width: 30%;
    margin: 10% auto; 
    padding: 2em;
    border-radius: 3px;
}

.title-reset-password{
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.section-reset-password input{
    font-size: 80%;
}

.section-reset-password label{
    font-weight: bold;
}

.btn-reset-password{
    background-color: #ffcbcb;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    width: 50%;
    margin: auto;
    box-shadow: 0px 0px 5px rgb(134, 128, 128);
    font-weight: bold;
}

.password-reset{
    margin-bottom: 5%;
}