.title-products-manage {
    text-align: center;
    font-size: 250%;
    text-shadow: 0px 2px 5px rgb(56, 56, 56);
    padding: 10px;
}

.thead-products-manage th {
    background-color: rgb(85, 163, 144);
    font-weight: bold;
    text-align: center;
}

.tbody-products-manage .td-products-manage {
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.section-pagination {
    width: 100%;
    position: absolute;
    left: 100px;
    top: 700px;
}

.modal-product-description {
    width: 80%;
    /* text-align: center; */
    align-items: center;
    height: 70px;
    display: flex;
    margin: auto;
}

.point-modal-product-description {
    background-color: grey;
    width: 20%;
    margin: auto;
    padding: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.section-modal-product-description {
    display: flex;
    width: 60%;
    margin: auto;
}

.btn-action-products-manage {
    background-color: rgb(85, 163, 144);
    padding: 2px;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.icon-add-products {
    background-color: rgb(85, 163, 144);
    width:80%;
    border-radius: 3px;
    text-align: center;
    margin: 5% auto 10% auto;
    padding: 5px;
    font-size: 120%;
    cursor: pointer;
    font-weight: bold;
}

.active-color {
    background-color: green;
}

.productname-title-edit {
    text-transform: uppercase;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    margin: 2%;
}

.form-edit-product label {
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.section-edit-product hr {
    border-top: 1px solid black;
}

.section-productname input {
    width: 50%;
    margin: auto;
    font-size: 90%;
}

.form-edit-product select {
    margin: auto;
    width: 50%;
}

.section-class-category select {
    text-align: center;
    width: 100%;
    font-size: 90%;
}

.section-class-category label {
    text-align: center;
}

.thead-edit-product th {
    background-color: rgb(85, 163, 144);
}

.section-stock select {
    width: 50%;
    font-size: 90%;
}

.section-stock input {
    width: 30%;
    font-size: 90%;
    margin: auto;
}

.section-stock .icon-checklist {
    cursor: pointer;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.section-image {
    text-align: center;
}

.section-description .input-group {
    width: 50%;
    margin: auto;
}

.section-description textarea {
    font-size: 90%;
}

.btn-action-edit-product {
    background-color: rgb(85, 163, 144);
    width: 15%;
    text-align: center;
    padding: 1%;
    border-radius: 2px;
    font-weight: bold;
    margin: 2% auto;
    cursor: pointer;
}

.back-icon {
    font-size: 200%;
    position: absolute;
    top: 95px;
    cursor: pointer;
}

.title-weight {
    padding: 1%;
    border-radius: 2px;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    margin: 2px auto;
}